
name: Documentation

on:

  push:
    branches: ["testing"]


jobs:

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install azcausal
        run: pip install .
      - name: Install Documentation dependency
        run: pip install -r docs/requirements.txt
      - name: Run Jupyter Notebooks
        run: python docs/run_ipynb.py
      - uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "docs/"
          pre-build-command: "apt-get install -y pandoc && pip install pandoc"
      - uses: actions/upload-artifact@v1
        with:
          name: azcausal
          path: docs/build/html/